<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='/navcss.css')}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <link rel="icon" type="image/x-icon" href="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/327356230_589491973018292_1512460515022345777_n.png?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KoB5oPZhZNsAb7t2nKa&_nc_ht=scontent.fhyd11-2.fna&oh=00_AfDVfV6utkaEKYHCZJ5MyQGrclL01bYWsTJ8b_VCc_gJlQ&oe=66233EDE">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="d-flex">
        <div class="logo"><a href="/" style="text-decoration: none;"><img src="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/327356230_589491973018292_1512460515022345777_n.png?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KoB5oPZhZNsAb7t2nKa&_nc_ht=scontent.fhyd11-2.fna&oh=00_AfDVfV6utkaEKYHCZJ5MyQGrclL01bYWsTJ8b_VCc_gJlQ&oe=66233EDE" height="80"></a></div>
        <div>
            <span class="mr-4 font-weight-bold text-white">Admin</span>
        <a href="/logout" style="background-color: #ffffff; color: #0d943f; padding: 0.5rem 1rem; border-radius: 5px; text-decoration: none;">Logout</a>
        </div>
    </nav>

<div class="container">
    <div class=" row justify-content-center">
        <div class="col-sm-8">
            <h2 class="text-center py-4">Dashboard</h2>
            <div class="d-flex justify-content-around">
            <a href="{{ url_for('download_chat_data') }}" class="btn btn-success">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                      </svg>
                </span>
                Chat Backup
            </a>
            <a href="{{ url_for('download_performance_metrics') }}" class="btn btn-success">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                      </svg>
                </span>
                Performance Metrics
            </a>
            <a href="{{ url_for('download_user_data') }}" class="btn btn-success">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                      </svg>
                </span>
                User Data
            </a>
            </div>
        </div>

    </div>
  
</div>

</body>
</html>
