<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='/navcss.css')}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/327356230_589491973018292_1512460515022345777_n.png?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KoB5oPZhZNsAb7t2nKa&_nc_ht=scontent.fhyd11-2.fna&oh=00_AfDVfV6utkaEKYHCZJ5MyQGrclL01bYWsTJ8b_VCc_gJlQ&oe=66233EDE">
    <title>Chatbot</title>
</head>
<body>

    <nav class="d-flex">
        <div class="logo"><a href="/" style="text-decoration: none;"><img src="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/327356230_589491973018292_1512460515022345777_n.png?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KoB5oPZhZNsAb7t2nKa&_nc_ht=scontent.fhyd11-2.fna&oh=00_AfDVfV6utkaEKYHCZJ5MyQGrclL01bYWsTJ8b_VCc_gJlQ&oe=66233EDE" height="80"></a></div>
       <div>
            <span class="mr-4 font-weight-bold text-white">User Dashboard</span>
        <a href="/logout" style="background-color: #ffffff; color: #0d943f; padding: 0.5rem 1rem; border-radius: 5px; text-decoration: none;">Logout</a>
        </div>
    </nav>
<div class="container">
    <h2 class="text-center py-4">User Dashboard</h2>
    <div>
        <h4>Sample Questions</h4>
        <pre>
Can I learn at my own pace?

How long does this course take to complete ?

How is the doubt support ?

Can I pay in EMI for this course ?

Does this course offer any certificate ?

Who is the mentor for this course ?

Is it an online or offline course ?</pre>
    </div>
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-4--v2.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is GBot. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" height=50  /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>