<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/327356230_589491973018292_1512460515022345777_n.png?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KoB5oPZhZNsAb7t2nKa&_nc_ht=scontent.fhyd11-2.fna&oh=00_AfDVfV6utkaEKYHCZJ5MyQGrclL01bYWsTJ8b_VCc_gJlQ&oe=66233EDE">
   
    <title>GeeksforGeeks Landing Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/navcss.css')}}">
    <style>
        body {
            color: white;
        }
    </style>
</head>

<body>
    <nav>
        <div class="logo"><img src="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/327356230_589491973018292_1512460515022345777_n.png?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KoB5oPZhZNsAb7t2nKa&_nc_ht=scontent.fhyd11-2.fna&oh=00_AfDVfV6utkaEKYHCZJ5MyQGrclL01bYWsTJ8b_VCc_gJlQ&oe=66233EDE" height="80"></div>
        <div>
        <a href="/login" style="background-color: #ffffff; color: #0d943f; padding: 0.5rem 1rem; border-radius: 5px; text-decoration: none;">Login</a>
        <a href="/register" style="background-color: #ffffff; color: #0d943f; padding: 0.5rem 1rem; border-radius: 5px; text-decoration: none;">Register</a>
        </div>
    </nav>
    <section class="hero">
        <div>
            <h1>Welcome to GeeksforGeeks</h1>
            <p>Your source for programming articles, tutorials, and practice problems.</p>
            <a href="#"
                style="background-color: #ffffff; color: #0d943f; padding: 0.5rem 1rem; border-radius: 5px; text-decoration: none;">Get
                Started</a>
        </div>
    </section>
    <div class="content">
        <h2>About GeeksforGeeks</h2>
        <p>GeeksforGeeks is a platform that provides programming resources and tutorials for developers of all levels.
        </p>
        <p>Join our community today and take your programming skills to the next level.</p>
    </div>
    <footer>
        <p>&copy; 2024 GeeksforGeeks. All rights reserved.</p>
    </footer>
</body>

</html>